@font-face {
    font-family: 'Vazir';
    src: url('./fonts/Vazir-Light.eot');
    src: url('./fonts/Vazir-Light.ttf');
    src: url('./fonts/Vazir-Light.woff');
    src: url('./fonts/Vazir-Light.woff2');
}